<h1>Hello there!</h1>
<form action='/info' method='post'>
  <h2>What's your name?</h2>
  <input type='text' name='name'>
  <h2>When's your birthday?</h2>
  <label for='day'>day:</label>
  <input type='text' name='day'value="1">
  <label for='month'>month:</label>
  <select name="month">
    <option value="april">January</option>
    <option value="may">February</option>
    <option value="april">March</option>
    <option value="may">April</option>
    <option value="april">May</option>
    <option value="may">June</option>
    <option value="april">July</option>
    <option value="may">August</option>
    <option value="april">September</option>
    <option value="may">October</option>
    <option value="april">November</option>
    <option value="may">December</option>
  </select>
  <input type='submit' value='Go!'>
</form>